.aboutMeSection {
  background-color: $color-darkgreen;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;

  @media all and (min-width: 768px) {
    padding: 40px;
    gap: 45px;
  }

  &_title {
    margin-top: 10px;
    font-size: 40px;

    @media all and (min-width: 768px) {
      font-size: 50px;
      margin-top: 0;
    }
  }

  &_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    text-align: center;

    @media all and (min-width: 768px) {
      flex-direction: row;
      gap: 40px;
      text-align: start;
    }

    &-div {
      @media all and (min-width: 768px) {
        width: 40%;
        display: flex;
        flex-direction: column;
        gap: 30px;
      }
    }
  }
}

@media all and (max-width: 767px) {
  .hidden-div {
    display: none;
  }
}

.div-img {
  height: 250px;

  @media all and (min-width: 768px) {
    // height: 300px;
  }
}

// .div-text {
//   @media all and (max-width: 1024px) {
//     align-items: center;
//   }
// }
