.aboutMeSection {
  background-color: $color-darkgreen;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;

  @media all and (min-width: 768px) {
    padding: 40px;
    gap: 45px;
  }

  &_title {
    margin-top: 10px;
    font-size: 40px;

    @media all and (min-width: 768px) {
      font-size: 50px;
    }
  }

  &_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

    @media all and (min-width: 768px) {
      flex-direction: row;
      gap: 40px;
    }

    &-img {
      height: 250px;

      @media all and (min-width: 768px) {
        height: 300px;
      }
    }

    &-text {
      font-size: 20px;
    }
  }
}
