.aboutMeSection {
  background-color: $primary-color;
  padding: toRem(20);
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  gap: 30px;
  // height: 130vh;
  // position: relative;

  @media all and (min-width: 768px) {
    padding: toRem(40);
    gap: 45px;
    height: toRem(550);
  }

  &_title {
    margin-top: toRem(25);
    font-size: toRem(40);
    color: $secondary-color;

    @media all and (min-width: 768px) {
      font-size: toRem(50);
      margin-top: toRem(0);
    }
  }

  &_div {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    // align-items: center;
    gap: 40px;
    text-align: center;

    @media all and (min-width: 768px) {
      flex-direction: row;
      gap: 40px;
      text-align: start;
    }

    &-div {
      @media all and (min-width: 768px) {
        width: 40%;
        display: flex;
        flex-direction: column;
        gap: 30px;
      }
    }

    &-text {
      color: $secondary-color;
      text-align: center;

      @media all and (min-width: 768px) {
        padding: toRem(0) toRem(40) toRem(0) toRem(40);
        font-size: toRem(18);
      }

      @media all and (min-width: 1024px) {
        max-width: 1000px;
        font-size: toRem(20);
        gap: 20px;
        padding: toRem(0) toRem(100) toRem(0) toRem(100);
      }
    }
  }
}

@media all and (max-width: 767px) {
  .hidden-div {
    display: none;
  }
}

.div-img {
  height: 250px;

  @media all and (min-width: 768px) {
    // height: 300px;
  }

  @media all and (min-width: 1024px) {
    height: 200px;
  }
}

.div-text {
  // color: $secondary-color;
  @media all and (max-width: 1024px) {
    // align-items: center;
  }
}

//que los div de texto estén dentro de otro div con un color de fondo que haga contraste
