.contactSection {
  // height: 50vh;
  padding: toRem(20);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  background-color: $color-darklilac;

  &_title {
    margin-top: toRem(10);
    font-size: toRem(40);

    @media all and (min-width: 768px) {
      font-size: toRem(50);
    }
  }

  &_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    &-text {
      padding-left: toRem(5);
      font-size: toRem(18);
      // text-align: center;

      @media all and (min-width: 768px) {
        font-size: toRem(20);
      }
    }

    &-elements {
      display: flex;
      flex-direction: column;
      // gap: 20px;

      @media all and (min-width: 768px) {
        flex-direction: row;
        gap: 30px;
      }
    }
  }

  // &_formDiv {
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  //   justify-content: center;

  //   // &-text {

  //   // }
  // }
}

.link_element {
  margin: toRem(20) toRem(0) toRem(20) toRem(0);
  background-color: #dbbfde6e;
  height: 60px;
  width: 120px;
  text-align: center;
  padding-top: toRem(15);
  border-radius: 20px;

  @media all and (min-width: 768px) {
    width: 160px;
  }

  @media all and (min-width: 1024px) {
    width: 180px;
  }

  &-link {
    font-size: toRem(18);
    text-decoration: none;
    color: black;
    // margin-top: 50px;

    @media all and (min-width: 768px) {
      font-size: toRem(20);
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;

  &_section {
    &-legend {
      width: 280px;
      text-align: start;
      margin-top: toRem(20);
    }

    &-input {
      width: 280px;
    }

    &-btn {
      margin-top: toRem(20);
    }
  }
}
