.footer {
  background-color: $primary-color;
  padding: toRem(30) toRem(20);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5vh;

  &_text {
    font-size: toRem(14);
    font-style: italic;
    color: $primary-font-color;
  }

  &_list {
    display: flex;
    gap: 10px;
  }
}
