.footer {
  background-color: $color-darkblue;
  padding: 30px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5vh;

  &_text {
    font-size: 14px;
    font-style: italic;
  }

  &_list {
    display: flex;
    gap: 10px;
  }
}
