.header {
  position: fixed;
  z-index: 2;
  padding: 10px 0 0 10px;

  @media all and (min-width: 768px) {
    padding: 20px 0 0 20px;
  }

  &_button {
    background-color: $color-darklilac;
    height: 30px;
    width: 30px;
    border-radius: 15px;
    border-color: black;

    @media all and (min-width: 768px) {
      height: 40px;
      width: 40px;
      border-radius: 20px;
      font-size: 20px;
    }
  }
}

.nav {
  // background-color: rgb(219, 76, 100);
  // margin-left: 0px;
  margin-top: 10px;
  width: 10vw;

  &_list {
    padding-left: 1px;

    &-link {
      text-decoration: none;
      padding: 2px;
      color: black;
      background-color: rgba(255, 192, 203, 0.253);
    }
  }
}
// .footer {
//   position: fixed;
//   left: 0;
//   bottom: 0;
//   width: 100vw;
//   padding: 1rem;
// }
