.header {
  position: fixed;
  z-index: 2;
  padding: toRem(15) 0 0 toRem(10);

  @media all and (min-width: 768px) {
    padding: toRem(25) 0 0 toRem(20);
  }

  &_button {
    background-color: $color-lilac;
    height: 40px;
    width: 40px;
    border-radius: 15px;
    border-color: black;

    @media all and (min-width: 768px) {
      height: 50px;
      width: 50px;
      border-radius: 20px;
      font-size: toRem(25);
    }

    @media all and (min-width: 1024px) {
      height: 55px;
      width: 55px;
      font-size: toRem(30);
    }
  }
}

.nav {
  // background-color: rgb(219, 76, 100);
  // margin-left: 0px;
  margin-top: toRem(10);

  &_list {
    padding-left: toRem(1);
    display: flex;
    flex-direction: column;
    gap: 12px;

    @media all and (min-width: 768px) {
      gap: 15px;
    }

    &-link {
      text-decoration-line: none;
      padding: 2px;
      color: black;
      background-color: #dbbfdeaf;
      padding: toRem(5) toRem(10);
      border-radius: 10px;

      @media all and (min-width: 1024px) {
        font-size: toRem(18);
      }
    }
  }
}
// .footer {
//   position: fixed;
//   left: 0;
//   bottom: 0;
//   width: 100vw;
//   padding: 1rem;
// }
