.header {
  position: fixed;
  z-index: 2;
  padding: 15px 0 0 10px;

  @media all and (min-width: 768px) {
    padding: 25px 0 0 20px;
  }

  &_button {
    background-color: $color-lilac;
    height: 40px;
    width: 40px;
    border-radius: 15px;
    border-color: black;

    @media all and (min-width: 768px) {
      height: 50px;
      width: 50px;
      border-radius: 20px;
      font-size: 25px;
    }

    @media all and (min-width: 1024px) {
      height: 55px;
      width: 55px;
      font-size: 30px;
    }
  }
}

.nav {
  // background-color: rgb(219, 76, 100);
  // margin-left: 0px;
  margin-top: 10px;

  &_list {
    padding-left: 1px;
    display: flex;
    flex-direction: column;
    gap: 12px;

    @media all and (min-width: 768px) {
      gap: 15px;
    }

    &-link {
      text-decoration-line: none;
      padding: 2px;
      color: black;
      background-color: #dbbfdeaf;
      padding: 5px 10px;
      border-radius: 10px;

      @media all and (min-width: 1024px) {
        font-size: 18px;
      }
    }
  }
}
// .footer {
//   position: fixed;
//   left: 0;
//   bottom: 0;
//   width: 100vw;
//   padding: 1rem;
// }
