.landingSection {
  background-color: $secondary-color;
  // height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 15px;
  padding: toRem(100) toRem(20) toRem(0) toRem(20);

  @media all and (min-width: 768px) {
    gap: 20px;
    padding: toRem(10) toRem(20) toRem(0) toRem(20);
  }

  @media all and (min-width: 1024px) {
    gap: 20px;
    padding: toRem(70) toRem(30) toRem(0) toRem(30);
  }

  // @media all and (min-width: 1024px) {
  //   gap: 30px;
  // }

  &_title {
    // margin-top: toRem(20);
    font-size: toRem(45);
    font-family: $font-secondary;
    color: $primary-font-color;
    // text-shadow: 4px 6px 4px $icons-color;
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.2),
      0px -5px 10px rgba(255, 255, 255, 0.15);

    @media all and (min-width: 768px) {
      font-size: toRem(80);
      margin-top: toRem(70);
    }

    @media all and (min-width: 1024px) {
      font-size: toRem(100);
      margin-top: toRem(0);
    }

    &-span {
      color: $primary-color;
    }
  }

  &_desc {
    font-size: toRem(18);
    color: $primary-font-color;
    // margin-top: toRem(20);
    margin-bottom: toRem(30);
    // font-family: $font-secondary;
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.2),
      0px -5px 10px rgba(255, 255, 255, 0.15);

    @media all and (min-width: 768px) {
      font-size: toRem(25);
    }

    @media all and (min-width: 1024px) {
      font-size: toRem(35);
    }
  }

  &_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    //     width: 100%;
    padding-left: 0;
    gap: 10px;
    margin-bottom: toRem(30);

    @media all and (min-width: 768px) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      gap: 40px;
    }

    @media all and (min-width: 1024px) {
      gap: 20px;
    }

    &-element {
      background-color: $color-lilac;
      height: 40px;
      width: 165px;
      text-align: center;
      border-radius: 15px;

      @media all and (min-width: 768px) {
        height: 60px;
        width: 180px;
        padding-top: toRem(10);
      }

      @media all and (min-width: 1024px) {
        height: 100px;
        width: 180px;
        padding: toRem(23);
      }
    }
  }

  //esto no debería estar aquí
  .link {
    text-decoration: none;
    color: $primary-font-color;
    font-size: 20px;
    line-height: 2;
    padding: toRem(10) toRem(25);
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.2),
      0px -5px 10px rgba(255, 255, 255, 0.15);

    @media all and (min-width: 768px) {
      // font-size: 25px;
      font-weight: 500;
      // padding: 10px 25px 10px 25px;
    }

    @media all and (min-width: 1024px) {
      margin-top: toRem(20);
      font-size: 25px;
      padding-top: 20px;
      text-align: center;
      padding: toRem(30) toRem(27);
    }
  }

  @media all and (min-width: 1024px) {
    .instagram {
      padding: toRem(0);
      padding: toRem(30) toRem(10.5);
    }
    .cv {
      padding: toRem(33) toRem(50);
      // line-height: 1.2;
      // padding: toRem(20) toRem(15) toRem(20) toRem(5);
    }
  }

  &_text {
    font-family: $font-secondary;
    color: $primary-font-color;
    font-size: toRem(20);
    // text-shadow: 2px 4px 4px $icons-color;
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.2),
      0px -5px 10px rgba(255, 255, 255, 0.15);

    @media all and (min-width: 768px) {
      font-size: toRem(25);
    }

    @media all and (min-width: 1024px) {
      font-size: toRem(35);
    }
  }

  &_div {
    background-color: $primary-color;
    height: 40px;
    width: 40px;
    text-align: center;
    border-radius: 20px;
    margin-bottom: 60px;
    display: flex;
    animation-name: arrow-btn;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;

    @media all and (min-width: 768px) {
      height: 50px;
      width: 50px;
      border-radius: 30px;
    }

    &-arrow {
      font-size: toRem(25);
      text-align: center;
      margin-left: toRem(10.5);
      align-self: center;
      color: $statement-color;

      @media all and (min-width: 768px) {
        margin-top: toRem(2);
        margin-left: toRem(13.5);
        font-size: toRem(30);
        border-radius: 30px;
      }
    }
  }
}

.landingSection_list-element:hover {
  box-shadow: 0 0 20px;
  transform: scale(1.1);
  background-color: $statement-color;
}

.landingSection_list-element:active {
  background-color: $color-lilac;
}

@keyframes arrow-btn {
  0% {
    transform: translateY(0%);
    // border-style: dashed;
    // border-style: dotted;
    // border-color: $color-lilac;
  }
  10% {
    transform: translateY(10%);
    // border-style: dashed;
    // border-style: dotted;
    // border-color: $color-lilac;
  }
  20% {
    transform: translateY(20%);
    // border-style: dashed;
    // border-style: dotted;
    // border-color: $color-lilac;
  }
  30% {
    transform: translateY(30%);
    // border-style: dotted;
    // border-color: $statement-color;
  }
  40% {
    transform: translateY(40%);
    // border-style: dotted;
    // border-color: $statement-color;
  }
  50% {
    transform: translateY(50%);
    // border-style: dotted;
    // border-color: $statement-color;
  }
  60% {
    transform: translateY(40%);
    // border-style: dotted;
    // border-color: $statement-color;
  }
  70% {
    transform: translateY(30%);
    // border-style: dotted;
    // border-color: $statement-color;
  }
  80% {
    transform: translateY(20%);
    // border-style: dotted;
    // border-color: $statement-color;
  }
  90% {
    transform: translateY(10%);
    // border-style: dotted;
    // border-color: $statement-color;
  }
  100% {
    transform: translateY(0%);
    // border-style: dotted;
    // border-color: $statement-color;
  }
}

.landing-arrow-link {
  text-decoration: none;
}

.landingSection_div:hover {
  box-shadow: 0 0 20px;
  transform: scale(1.1);
  // background-color: $statement-color;
}

// .landingSection_div:active {
//   background-color: $statement-color;
// }

// .landingSection_div-arrow:active {
//   color: $icons-color;
// }
