.landingSection {
  background-color: $color-darklilac;
  height: 110vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 35px;

  @media all and (min-width: 768px) {
    gap: 40px;
  }

  &_title {
    margin-top: 70px;
    font-size: 40px;
    font-family: $font-secondary;

    @media all and (min-width: 768px) {
      font-size: 65px;
    }
  }

  &_desc {
    font-size: 20px;
    // font-family: $font-secondary;

    @media all and (min-width: 768px) {
      font-size: 30px;
    }
  }

  &_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    @media all and (min-width: 768px) {
      flex-direction: row;
      justify-content: center;
      gap: 40px;
    }

    &-element {
      text-decoration: none;
      font-size: 20px;
      line-height: 2;
      display: flex;
      gap: 20px;

      @media all and (min-width: 768px) {
        font-size: 25px;
      }
    }
  }

  &_text {
    font-family: $font-secondary;
    font-size: 20px;

    @media all and (min-width: 768px) {
      font-size: 30px;
    }
  }

  &_div {
    background-color: pink;
    height: 40px;
    width: 40px;
    text-align: center;
    border-radius: 20px;

    @media all and (min-width: 768px) {
      margin-top: 25px;
      height: 50px;
      width: 50px;
      border-radius: 30px;
    }

    &-arrow {
      text-align: center;
      margin-top: 10px;

      @media all and (min-width: 768px) {
        margin-top: 12px;
        font-size: 25px;
        border-radius: 30px;
      }
    }
  }
}
