.landingSection {
  background-color: $color-darklilac;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 15px;

  @media all and (min-width: 768px) {
    gap: 20px;
  }

  // @media all and (min-width: 1024px) {
  //   gap: 30px;
  // }

  &_title {
    // margin-top: 70px;
    font-size: 45px;
    font-family: $font-secondary;

    @media all and (min-width: 768px) {
      font-size: 80px;
    }

    @media all and (min-width: 1024px) {
      font-size: 100px;
    }
  }

  &_desc {
    font-size: 20px;
    // font-family: $font-secondary;

    @media all and (min-width: 768px) {
      font-size: 25px;
    }

    @media all and (min-width: 1024px) {
      font-size: 35px;
    }
  }

  &_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    //     width: 100%;
    padding-left: 0;
    gap: 10px;

    @media all and (min-width: 768px) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      gap: 40px;
    }

    @media all and (min-width: 1024px) {
      gap: 20px;
    }

    &-element {
      background-color: $color-lilac;
      height: 40px;
      width: 165px;
      text-align: center;
      border-radius: 15px;

      @media all and (min-width: 1024px) {
        height: 100px;
        width: 180px;
        padding: 23px;
      }
    }
  }

  //esto no debería estar aquí
  .link {
    text-decoration: none;
    color: black;
    font-size: 20px;
    line-height: 2;
    padding: 10px 25px 10px 25px;

    @media all and (min-width: 768px) {
      // font-size: 25px;
      font-weight: 500;
      padding: 10px 25px 10px 25px;
    }

    @media all and (min-width: 1024px) {
      margin-top: 20px;
      font-size: 25px;
      padding-top: 20px;
      text-align: center;
      padding: 30px 27px 30px 27px;
    }
  }

  @media all and (min-width: 1024px) {
    .instagram {
      padding: 0;
      padding: 30px 20px 30px 10px;
    }
    .cv {
      padding: 0;
      line-height: 1.2;
      padding: 20px 15px 20px 0;
    }
  }

  &_text {
    font-family: $font-secondary;
    font-size: 20px;

    @media all and (min-width: 768px) {
      font-size: 25px;
    }

    @media all and (min-width: 1024px) {
      font-size: 30px;
    }
  }

  &_div {
    background-color: $color-lilac;
    height: 40px;
    width: 40px;
    text-align: center;
    border-radius: 20px;
    margin-bottom: 30px;
    display: flex;

    @media all and (min-width: 768px) {
      height: 50px;
      width: 50px;
      border-radius: 30px;
    }

    &-arrow {
      font-size: 25px;
      text-align: center;
      margin-left: 11px;
      align-self: center;

      @media all and (min-width: 768px) {
        margin-top: 5px;
        margin-left: 13px;
        font-size: 30px;
        border-radius: 30px;
      }
    }
  }
}
