.projectSection {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  &_title {
    margin-top: 10px;
    font-size: 40px;

    @media all and (min-width: 768px) {
      font-size: 50px;
    }
  }

  // &_div {
  //   height: 500px;
  // }
}
