.skillsSection {
  background-color: $color-darklilac;
  padding: toRem(20);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  width: 100%;

  @media all and (min-width: 768px) {
    padding-bottom: toRem(45);
  }

  @media all and (min-width: 1024px) {
    padding: toRem(35) toRem(50) toRem(50) toRem(50);
  }

  &_div {
    display: flex;
    flex-direction: column;
    gap: 40px;
    // width: 100%;

    @media all and (min-width: 768px) {
      flex-direction: row;
      gap: 30px;
    }
  }

  &_title {
    margin-top: toRem(10);
    font-size: toRem(40);

    @media all and (min-width: 768px) {
      font-size: toRem(50);
      margin-top: toRem(0);
    }
  }

  &_soft {
    width: 100%;
    padding-top: toRem(30);
    background-color: $color-lilac;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 15px;

    @media all and (min-width: 1024px) {
      width: 50%;
    }

    &-title {
      font-size: toRem(20);
      margin-bottom: toRem(15);

      @media all and (min-width: 768px) {
        margin-top: toRem(10);
        font-size: toRem(25);
      }

      @media all and (min-width: 1024px) {
        font-size: toRem(30);
      }
    }
  }

  &_tech {
    width: 100%;
    padding: toRem(30) toRem(20);
    background-color: $color-lilac;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 15px;

    @media all and (min-width: 1024px) {
      width: 50%;
    }

    &-title {
      font-size: toRem(20);
      margin-bottom: toRem(15);

      @media all and (min-width: 768px) {
        margin-top: toRem(10);
        font-size: toRem(25);
      }

      @media all and (min-width: 1024px) {
        font-size: toRem(30);
      }
    }

    &-list {
      margin-top: toRem(10);
      display: flex;
      flex-wrap: wrap;
      gap: 20px;

      @media all and (min-width: 768px) {
        gap: 30px;
        padding: toRem(10) toRem(20);
      }

      @media all and (min-width: 1024px) {
        gap: 40px;
        padding: toRem(10) toRem(0) toRem(10) toRem(55);
      }
    }
  }
}

.tech-icons {
  height: 50px;
}

.softSkills_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: toRem(10) toRem(0);

  &-element {
    line-height: 1.8;

    @media all and (min-width: 768px) {
      padding: toRem(0) toRem(10);
      font-size: toRem(18);
      line-height: 2;
    }

    @media all and (min-width: 768px) {
      font-size: toRem(20);
    }
  }
}
