@import "../core/variables";

.carousel {
  // background-color: red;
  height: toRem(620);
  border-radius: 20px;
  max-width: toRem(320);

  @media all and (min-width: 768px) {
    // width: toRem(320);
    // width: toRem(700);
    // height: toRem(625);
    max-width: toRem(320);
  }

  @media all and (min-width: 1024px) {
    height: toRem(600);
    // width: toRem(100);
    // max-width: 1000px;
    // width: 100%;
    // width: 900px;
    // width: toRem(970);
    max-width: toRem(970);
  }

  &_item {
    width: 100%;
    height: 100%;
    border-radius: 20px;

    @media all and (min-width: 768px) {
      // // background-color: red;
      // overflow: hidden;
      // height: 100%;
      // overflow: hidden;
      // width: 100%;
    }

    @media all and (min-width: 1024px) {
      // background-color: red;
      overflow: hidden;
      height: 100%;
      overflow: hidden;
      // width: 100%;
    }
  }
}

.card {
  margin: toRem(10) toRem(40);
  width: toRem(240);
  border-radius: 20px;
  background-color: $secondary-color;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

  @media all and (min-width: 768px) {
    // // background-color: red;
    // margin: toRem(20) toRem(15);
    // width: calc(100% / 3);
    // // border-radius: 20px;
    // // border-color: black;
  }

  @media all and (min-width: 1024px) {
    // background-color: red;
    margin-top: toRem(30);
    // width: calc(100% / 3);
    // width: 300px;
  }

  &_imgWrapper {
    height: 50%;
    padding: toRem(20) toRem(5) toRem(10) toRem(5);
    background-color: $secondary-color;
    border-radius: 20px;
    // display: flex;
    // align-items: center;
    // justify-content: center;

    @media all and (min-width: 768px) {
    }

    &-img {
      max-width: 100%;
      max-height: 100%;

      @media all and (min-width: 768px) {
        // width: 100%;
      }

      @media all and (min-width: 1024px) {
        width: 100%;
      }
    }
  }

  &_body {
    background-color: $secondary-color;
    border-radius: 20px;
    min-height: toRem(380);
    max-height: toRem(380);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    // &-title {

    // }

    // &-text {

    // }

    @media all and (min-width: 768px) {
      // min-height: toRem(400);
      // max-height: toRem(400);
    }

    @media all and (min-width: 1024px) {
      min-height: toRem(320);
      max-height: toRem(320);
    }

    &-div {
      display: flex;
      flex-direction: column;
      gap: 15px;

      @media all and (min-width: 768px) {
        // display: flex;
        // flex-direction: column;
        // // width: 100%;
      }

      @media all and (min-width: 1024px) {
        display: flex;
        flex-direction: row;
        width: 100%;
      }
    }
  }
}

.button {
  background-color: $statement-color;
  // border-color: $statement-color;
  height: 45px;
  background-color: $color-lilac;
  border-color: $icons-color;
  border-radius: 10px;

  @media all and (min-width: 1024px) {
    display: flex;
    width: 50%;
    height: 65px;
    font-size: toRem(20);
    align-items: center;
    justify-content: center;
  }
}

.btn-link {
  text-decoration: none;
  color: $primary-font-color;
  font-size: toRem(18);
  font-weight: 500;
}

// @media all (min-width: 0px) and (max-width: 768px) {}

//EXTRAS
.carousel-control-prev {
  margin-left: toRem(10);
}

.carousel-control-next {
  margin-right: toRem(0);
}

.carousel-control-prev-icon {
  margin-left: toRem(-20);
}

.carousel-control-next-icon {
  margin-right: toRem(0);
}

// @media all and (min-width: 768px) {
//   .carousel-item.active,
//   .carousel-item-next,
//   .carousel-item-prev {
//     display: flex;
//   }

//   .carousel-control-prev {
//     width: 10px;
//     // padding-right: 40px;
//   }

//   .carousel-control-next {
//     width: 30px;
//   }

//   .carousel-control-prev-icon {
//     margin-left: toRem(-55);
//   }

//   .carousel-control-next-icon {
//     margin-right: toRem(-50);
//     // width: 30px;
//   }
// }

@media all and (min-width: 1024px) {
  .carousel-item.active,
  .carousel-item-next,
  .carousel-item-prev {
    display: flex;
  }

  .carousel-control-prev {
    width: 20px;
    // padding-right: 40px;
  }

  .carousel-control-next {
    width: 30px;
  }

  .carousel-control-prev-icon {
    margin-left: toRem(-60);
  }

  .carousel-control-next-icon {
    margin-right: toRem(-45);
  }

  // .carousel-indicators {
  //   padding-top: 30px;
  // }
}

.card:hover {
  box-shadow: rgba(0, 0, 0, 0.56) 0px 12px 10px 2px;
}

.button:hover {
  box-shadow: 0 0 10px $primary-font-color;
  transform: scale(1.02);
  background-color: $statement-color;
  border-color: $primary-font-color;
}

.button:active {
  // box-shadow: 0 0 20px;
  transform: scale(1.02);
  background-color: $primary-color;
}

.btn-link:hover {
  color: $primary-font-color;
}

.btn-link:active {
  color: $secondary-color;
}
