// @import "core/reset.scss";

/*@import 'core/variables';
@import 'core/reset';
@import 'components/code';
@import 'components/links';
@import 'layout/page';
@import 'layout/header';
@import 'layout/footer';
@import 'pages/index'; */

@import "core/variables";
@import "core/reset";
@import "layout/header";
@import "layout/landing";
@import "layout/about";
@import "layout/skills";
@import "layout/projects";
@import "layout/contact";
@import "layout/footer";
@import "~bootstrap/scss/bootstrap";
@import "components/slide.scss";

:root {
  font-family: $font-main;
}

// .fa-solid {
//   font-size: toRem(30);
//   color: $statement-color;
// }

.fa-brands {
  color: $primary-font-color;
}

// :root{
//     overflow-x: hidden;
// }

.body {
  height: 100%;
}

.main {
  height: 100%;
}
// .main {
//   padding: 25px;
// }

// @media all and (max-width: 768px) {
//   .showBigger {
//     display: none;
//   }
// }

// @media all and (max-width: 768px) {
//   .showSmaller {
//     display: none;
//   }
// }

@media all and (min-width: 0px) and (max-width: 767px) {
  .showBigger {
    display: none;
  }
}

@media all and (min-width: 768px) {
  .showSmaller {
    display: none;
  }
}

.hidden {
  display: none;
}
